.title {
    color: white;
    font-size: 50px;
}

.header {
    background-color: gray;
    text-align: center;
}

.conatiner {
    background-color: lightblue;
}

#listGroup {
    padding-left: 15px;
}

#weatherCard {
    background-color: lightcyan;
    
}

#searchInput {
    padding-left: 15px;
}

#forcastRow {
   text-align: center; 
}

.fiveDayForcast {
    font-size: xx-large;
}
