body {
    overflow: hidden;
    
}

.title {
    color: white;
    font-size: 50px;
}

.row {
    margin-right: 0px;
}

.header {
    background-color: gray;
    text-align: center;
}

.conatiner {
    background-color: lightblue;
}

.list-group {
    padding-left: 15px;
}

/* card */
#weatherCard {
    background-color: rgb(128, 167, 180);
    margin-top: 15px;
}
.location {
    font-size: x-large;
}
.temperature {
    font-size: x-large;
}
.humidity {
    font-size: x-large;
}
.windSpeed {
    font-size: x-large;
}
#uvIndex0 {
    font-size: x-large;
}





#forecastCard {
    
    background-color: rgb(128, 167, 180);
    
}

#searchInput {
    padding-left: 15px;
    margin-left: 15px;
    margin-top: 15px;
}

#forcastRow {
   text-align: center; 
}

.fiveDayForcast {
    font-size: xx-large;
}
